<footer class="flex place-content-center container min-w-full pt-6">
    <p class="text-white">Thanks for Checking out my project, all references to Final Fantasy are property to Square Enix &#169;</p>
</footer>
</body>
</html>