<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automaton Helper</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/automaton_stormwaker_ff11_headshot_icon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-blackBlue flex flex-col min-h-screen">
    <header class="relative container mx-auto p-6">
      <nav class="flex items-center justify-between">
        <div class="flex pt-2 items-center space-x-2">
          <a href="/"><img src="imgs/automaton_stormwaker_ff11_headshot.png" alt="Stormwaker Automaton FF11"></a>
          <h1 class="text-lg text-textGold hover:text-white"><a href="/">Automaton Helper</a></h1>
        </div>
        <!-- Nav Options -->
        <div class="hidden md:flex space-x-6 text-lg">
          <a href="/raids" class="text-textGold hover:text-white">Raids</a>
          <a href="/crafting" class="text-textGold hover:text-white">Crafting</a>
          <a href="/gathering" class="text-textGold hover:text-white">Gathering</a>
          <a href="/" class="text-textGold hover:text-white">Island</a>
        </div>
        <!-- Buttons If-Else statement needed for Login Sign up else Profile Button -->
        <div class="flex space-x-6">
          <% if (!user) { %>
        <a href="/login" class="hidden md:block p-3 px-6 pt-2 text-white bg-royalBlue rounded-md baseline hover:bg-textGold hover:text-black">Login</a>
        <a href="/signup" class="hidden md:block p-3 px-6 pt-2 text-white bg-royalBlue rounded-md baseline hover:bg-textGold hover:text-black">Sign-Up</a>
            <% } else { %>
        <a href="/profile" class="hidden md:block p-3 px-6 pt-2 text-white bg-royalBlue rounded-md baseline hover:bg-textGold hover:text-black"><%= user.userName %></a>
        <a href="/logout" class="hidden md:block p-3 px-6 pt-2 text-white bg-royalBlue rounded-md baseline hover:bg-textGold hover:text-black">Logout</a>
        <% } %>
        </div>
      </nav>
    </header>
  </body>
</html>
