<%- include('partials/header') -%>
<h1>Gathering</h1>
<div class="col-6 mt-5">
  <a class="btn btn-primary" href="/profile">Return to Profile</a>
  <a class="btn btn-primary" href="/raids">Return to Feed</a>
</div>


<%- include('partials/footer') -%>
