<%- include('partials/header') -%>

<main class="relative container mx-auto pt-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center">
        <div class="card w-96 shadow-xl bg-royalBlue">
            <div class="card-body">
              <h2 class="card-title text-textGold">Raids</h2>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam dolorum, qui.</p>
              <div class="card-actions justify-end">
                <a href="/raids" class="p-3 px-6 pt-2 text-white bg-blackBlue rounded-md baseline hover:bg-textGold hover:text-black">Raids</a>
            </div>
            </div>
          </div>
          <div class="card w-96 shadow-xl bg-royalBlue">
            <div class="card-body">
              <h2 class="card-title text-textGold">Crafting</h2>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam dolorum, qui.</p>
              <div class="card-actions justify-end">
                <a href="/crafting" class="p-3 px-6 pt-2 text-white bg-blackBlue rounded-md baseline hover:bg-textGold hover:text-black">Crafting</a>
            </div>
            </div>
          </div>
          <div class="card w-96 shadow-xl bg-royalBlue">
            <div class="card-body">
              <h2 class="card-title text-textGold">Gathering</h2>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam dolorum, qui.</p>
              <div class="card-actions justify-end">
                <a href="/gathering" class="p-3 px-6 pt-2 text-white bg-blackBlue rounded-md baseline hover:bg-textGold hover:text-black">Gathering</a>
            </div>
            </div>
          </div>
          <div class="card w-96 shadow-xl bg-royalBlue">
            <div class="card-body">
              <h2 class="card-title text-textGold">Island</h2>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam dolorum, qui.</p>
              <div class="card-actions justify-end">
                <a href="/island" class="p-3 px-6 pt-2 text-white bg-blackBlue rounded-md baseline hover:bg-textGold hover:text-black">Island</a>
            </div>
            </div>
          </div>
    </div>
</main>
    

<%- include('partials/footer') -%>