<%- include('partials/header') -%>

<main class="container">
    <div class="flex justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        <a href="/raids" class="col-3 btn btn-primary"> Raids</a>
        <a href="/crafting" class="col-3 btn btn-primary"> Crafting</a>
        <a href="/gathering" class="col-3 btn btn-primary"> Gathering</a>
    </div>
</main>
    

<%- include('partials/footer') -%>